* 
{
  margin: 0;
  padding: 0;
}

.container {
    min-width: 980px; 
    max-width: 1920px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.content {
	margin: 0 auto;
	width: 100%;
	max-width: 980px;
}

.pic {
	max-width: 100%;
	height: auto;
	position: relative;
}

.row {
	width: 100%;
	display: block;
	position: relative;
	height: 970px;
	width: 100%;
	background-position: center center;
}

.row1 {
	background-image: url(images/bg_01.jpg);
}

.row2 {
	background-image: url(images/bg_02.jpg);
	height: 1053px;
}

.row3 {
	background-image: url(images/bg_03.jpg);
	height: 647px;
}

.separator {
	width: 980px;
	height: 40px;
	margin-top: 27px;
	z-index: 50;
}

.title-3 img {
	width: 560px;
	height: 64px;
	margin-left: -940px;
	margin-top: 465px;
}

.text-3 {
	font-size: 22px;
	font-family: "Georgia";
	color: rgb(245, 238, 215);
	line-height: 1.091;
	text-align: center;
	margin-left: -250px;
	margin-top: 0px;
	height: 16.323px;
	z-index: 68;
}

.row4 {
	background-image: url(images/bg_04.jpg);
	height: 647px;
}

.title-4 img {
	width: 950px;
	height: 64px;
	margin-left: -1010px;
	margin-top: 483px;
}

.text-4 {
	font-size: 22px;
	font-family: "Georgia";
	color: rgb(245, 238, 215);
	line-height: 1.091;
	text-align: center;
	margin-left: 12px;
	margin-top: 0px;
	height: 16.323px;
	z-index: 68;
	font-weight: lighter;
}

.row5 {
	background-image: url(images/bg_05.jpg);
	height: 647px;
}

.title-5 img {
	width: 750px;
	height: 64px;
	margin-left: -1020px;
	margin-top: 483px;
}

.text-5 {
	font-size: 22px;
	font-family: "Georgia";
	color: rgb(245, 238, 215);
	line-height: 1.091;
	text-align: center;
	margin-left: -230px;
	margin-top: -5px;
	height: 16.323px;
	z-index: 68;
	font-weight: lighter;
}

.row6 {
	background-image: url(images/bg_06.jpg);
	height: 646px;
}

.title-6 img {
	width: 595px;
	height: 64px;
	margin-left: -710px;
	margin-top: 480px;
}

.text-6 {
	font-size: 22px;
	font-family: "Georgia";
	color: rgb(245, 238, 215);
	line-height: 1.091;
	text-align: center;
	margin-left: 225px;
	margin-top: -4px;
	height: 16.323px;
	z-index: 68;
	font-weight: lighter;
}

.separator-2 img {
	width: 980px;
	height: 40px;
	margin-top: 69px;
	z-index: 50;
}

.button-spielen-3 {
	background: url(images/button_playgreen_normal.png);
	margin-top: -95px;
	margin-left: 310px;
	width: 353px;
	height: 145px;
	cursor: pointer;
	z-index: 52;
	position: absolute;
}

.button-spielen-3:hover {
    background: url(images/button_playgreen_hover.png);
}

.button-spielen-3:active {
    background: url(images/button_playgreen_active.png);
}

.row7 {
	background-image: url(images/bg_07.jpg);
	height: 1195px;
}

.title-7 img {
	width: 595px;
	height: 64px;
	margin-left: -810px;
	margin-top: 50px;
}

.text-7 {
	text-align: center;
	margin-left: 30px;
	margin-top: 50px;
	height: 16.323px;
	z-index: 68;
	text-align: justify;
	font-size: 24px;
	font-family: "Georgia";
	color: rgb(245, 238, 215);
	line-height: 1.25;
	font-weight: bold;
}

.video img {
	width: 480px;
	height: 320px;
	margin-top: -15px;
	margin-left: 500px;
}

.hero-1 {
	width: 860px;
	height: 330px;
	margin-top: -55px;
	margin-left: 100px;
}

.hero-2 {
	width: 860px;
	height: 330px;
	margin-top: -55px;
	margin-left: 110px;
}

.hero-3 {
	width: 860px;
	height: 330px;
	margin-top: -60px;
	margin-left: 50px;
}

.cite-1 {
	font-size: 18px;
	font-family: "Georgia";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
	text-align: left;
	margin-left: 360px;
	margin-top: -148px;
	z-index: 23;
}

.cite-2 {
	font-size: 18px;
	font-family: "Georgia";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
	text-align: left;
	margin-left: 160px;
	margin-top: -148px;
	z-index: 23;
}

.cite-3 {
	font-size: 18px;
	font-family: "Georgia";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
	text-align: left;
	margin-left: 300px;
	margin-top: -148px;
	z-index: 23;
}

.separator-3 {
	width: 980px;
	height: 40px;
	margin-top: 188px;
}

.button-spielen-4 {
	background: url(images/button_Tamethedragon_normal.png);
	margin-top: -98px;
	margin-left: 310px;
	width: 353px;
	height: 145px;
	cursor: pointer;
	z-index: 50;
	position: absolute;
}

.button-spielen-4:hover {
    background: url(images/button_Tamethedragon_hover.png);
}

.button-spielen-4:active {
    background: url(images/button_Tamethedragon_active.png);
}

.row8 {
	background-image: url(images/bg_08.jpg);
	height: 223px;
}

.text-8 {
	font-size: 14px;
	font-family: "Georgia";
	color: rgb(255, 254, 254);
	line-height: 1.286;
	text-align: center; 
	margin-left: 7px;
	padding-top: 100px;
	height: 25.372px;
	z-index: 3;
}

.xp-logo-2 img{
	width: 105px;
	height: 55px;
	margin-left: 445px;
	margin-top: 20px;
}

.bottom-text, .xp-logo, .button-spielen, .text {
	position: absolute;
}

.social_login  {
	border: none;
	outline: none;
	background: url(images/button_fb_normal.png); 
	width: 353px;
	height: 145px;
	display: block;
	margin-top: 0px;
    margin-left: 560px;
    cursor: pointer;
}

.social_login:hover {
	outline: none;
    background: url(images/button_fb_hover.png);
}

.social_login:active {
	outline: none;
    background: url(images/button_fb_active.png);
}

.button-spielen {
	border: none;
	background: url(images/button_play_normal.png); 
	width: 353px;
	height: 145px;
	display: block;
	margin-top: 25px;
    margin-left: 560px;
    cursor: pointer;
}

.button-spielen:hover {
    background: url(images/button_play_hover.png);
}

.button-spielen:active {
    background: url(images/button_play_active.png);
}

.logon {
	font-size: 18px;
	font-family: "Georgia";
	color: rgb(245, 238, 215);
	line-height: 1.222;
	text-align: center;
	margin-left: 490px;
	margin-top: -22px;
	font-weight: lighter;
	height: 6.813px;
	z-index: 197;
}

.orenter {
	font-size: 18px;
	font-family: "Georgia";
	color: rgb(245, 238, 215);
	line-height: 2.055;
	text-align: center;
	margin-left: 495px;
	margin-top: -20px;
	height: 5.407px;
	z-index: 196;
}

input[type="text"] {
    border: 1px solid black;
    outline: none;
	margin-top: 50px;
	margin-left: 588px;
	background-image: url(images/e-mail_idle.png);
	width: 305px;
	height: 49px;
	font-size: 20px;
	text-align: center;
	font-size: 18px;
	font-family: "Georgia";
	color: rgb(104, 115, 120);
	line-height: 1.582;
}

input[type="text"]:hover {
    border: 1px solid black;
    outline: none;
	margin-top: 50px;
	margin-left: 588px;
	background-image: url(images/e-mail_hover.png);
	width: 305px;
	height: 49px;
	font-size: 20px;
	text-align: center;
	font-size: 18px;
	font-family: "Georgia";
	color: rgb(104, 115, 120);
	line-height: 1.582;
}

.password {
	font-size: 18px;
	font-family: "Georgia";
	color: rgb(245, 238, 215);
	line-height: 1.222;
	text-align: center;
	margin-left: 500px;
	margin-top: 20px;
	height: 15.359px;
	z-index: 194;
}

.accept {
	font-size: 13px;
	font-family: "Georgia";
	color: rgb(245, 238, 215);
	line-height: 1.385;
	text-align: center;
	margin-left: 498px;
	margin-top: 170px;
	height: 24.372px;
	z-index: 185;
	font-weight: lighter;
}

.xp-logo img{
	width: 105px;
	height: 55px;
	margin-left: 690px;
	margin-top: 20px;
}

p {
	margin-top: 50px;
	font-size: 24px;
	font-family: "Georgia";
	color: rgb(0, 0, 0);
	font-weight: bold;
	line-height: 1.45;
	text-align: left;
	position: absolute;
	margin-left: 10px;
	width: 611px;
	height: 203px;
}

.title {
	top: 0%;
	margin-left: 1023px;
}

.title-1 {
	margin-left: 556px;
}

.title-2 {
	margin-left: 0px;
	padding-top: 60px;
}

.more {
	width: 600px;
	height: 107px;
	margin-left: -12px;
	margin-top: 310px;
}

.list {
	font-size: 24px;
	font-family: "Georgia";
	color: rgb(0, 0, 0);
	font-weight: bold;
	line-height: 1.25;
	text-align: left;
	margin-left: 25px;
	margin-top: 50px;
	width: 644px;
	height: 78px;
	z-index: 160;
}

.button-spielen-2 {
	background: url(images/button_playgreen_normal.png);
	bottom: 50px;
	margin-left: 310px;
	margin-top: 190px;
	width: 353px;
	height: 145px;
	cursor: pointer;
}

.button-spielen-2:hover {
    background: url(images/button_playgreen_hover.png);
}

.button-spielen-2:active {
    background: url(images/button_playgreen_active.png);
}

.label_text label {
	width: 160px;
	height: auto;
	background-color: black;
	border: 1px solid black;
	border-radius: 3px;
	position: absolute;
	right: 125px;
	top: 470px;
    display: table-cell;
    color: #ffd865;
    text-align: center;
	vertical-align: middle;
      vertical-align: middle;
      font-size: 14px;
      padding: 10px;}
      .main .label_text label.error {
        color: #ffd865; }
      .main .label_text label.badchecked {
        color: #dc2411; }
      .main .label_text label.checked {
        color: #0ca331; }

